* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --p--color: #333333;
  --s--color: #002eac;
  --th--color: #cccccc;
  --white--color: #ffffff;
}

body {
  font-family: "Cairo", sans-serif;
  direction: rtl;
  min-height: 3000px;
}
/* Start Global Settings */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.clear {
  clear: both;
}
.position-relative {
  position: relative;
}
.title-style {
  font-size: 1.3rem;
  color: var(--p--color);
}

/* Start Line Style  */

.line {
  position: absolute;
  right: 226px;
  background-color: var(--white--color);
  border: 5px solid var(--s--color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.line::before {
  content: "";
  position: absolute;
  top: -89px;
  left: 4px;
  background-color: var(--th--color);
  width: 2px;
  z-index: -1;
}
.p1 {
  top: 14px;
}
.p1::before {
  height: 190px;
}
.p2 {
  top: 12px;
}
.p2::before {
  height: 1400px;
}
.p3 {
  top: 12px;
}
.p3::before {
  height: 700px;
}
/* End Line Style  */

/* End Global Settings */

/* Start Header Section */
.header {
  /* padding-top: 50px; */
  /* padding-bottom: 50px; */
  /* background-color: red; */
  height: 220px;
  box-shadow: 0px 5px 10px 2px var(--th--color);
}
.header .logo {
  float: right;
  width: 100px;
  height: 100px;
  line-height: 290px;
}
.header .logo .img {
  width: 100%;
  height: 100%;
}
.header .navbar {
  margin-right: 200px;
  margin-top: -24px;
}
.header .navbar .list-elements {
  border: 1px solid var(--th--color);
  border-radius: 35px;
  height: 64px;
}
.header .navbar .list-elements .element {
  float: right;
  padding-top: 5px;
  line-height: 48px;
  margin-left: 7px;
  margin-right: 40px;
}
.header .navbar .list-elements .element a {
  font-size: 1.1rem;
  color: var(--p--color);
  transition: color 0.2s ease;
}
.header .navbar .list-elements .element a.active {
  color: var(--s--color);
}
.header .navbar .list-elements .element .my-icon {
  display: block;
  font-size: 1.5rem;
  border: 1px solid var(--s--color);
  border-radius: 50%;
  color: var(--s--color);
  transition: all 0.4s ease;
  line-height: 50px;
  padding-left: 16px;
  padding-right: 12px;
  cursor: pointer;
}
.header .navbar .list-elements .element .my-icon:hover {
  color: var(--white--color);
  background-color: var(--s--color);
}
.header .navbar .list-elements .element a:hover {
  color: var(--s--color);
}

.header .navbar .btn-donation {
  margin-right: 20px;
}
.header .navbar .btn-donation a {
  display: block;
  color: var(--p--color);
  border: 1px solid var(--th--color);
  height: 64px;
  line-height: 64px;
  font-size: 1.1rem;
  padding: 0px 50px;
  border-radius: 35px;
  transition: all 0.4s ease;
}
.header .navbar .btn-donation a:hover {
  border-color: var(--s--color);
  color: var(--s--color);
}

.header .navbar .btn-donation a i {
  color: var(--s--color);
  font-size: 1.3rem;
  padding-left: 10px;
}

/* End Header Section */

/* Start Main */
.main-section {
}

/* Start First Section  */
.main-section .first-section {
  padding-top: 70px;
  padding-bottom: 70px;
}
.main-section .first-section .intro-p {
  margin-right: 100px;
  padding-right: 20px;
  font-size: 18px;
  margin-top: 7px;
  color: var(--p--color);
}
/* End First Section  */

/* Start Second Section  */
.main-section .second-section {
  padding-bottom: 30px;
}
.main-section .second-section .title-section {
  width: 20%;
}
.main-section .second-section .books-container {
  width: 80%;
  /* background-color: red; */
}
.main-section .second-section .books-container .cont-book {
  background-color: #333333;
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% / 3) - 30px);
  overflow: hidden;
}

.main-section .second-section .books-container .cont-book .book {
  display: block;
  border: 1px solid var(--th--color);
  position: relative;
  transition: all 0.6s ease;
}
.main-section .second-section .books-container .cont-book .book:hover {
  transform: scale(1.5) rotate(-10deg);
}
.main-section .second-section .books-container .cont-book .book .img {
  display: block;
  width: 100%;
  height: 100%;
}
.main-section .second-section .books-container .cont-book .book .details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: var(--s--color);
  color: var(--white--color);
  border: 2px solid transparent;
  padding: 10px;
  width: 50%;
  text-align: center;
  border-radius: 30px;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
.main-section .second-section .books-container .cont-book .book:hover .details {
  transform: scale(0.7) translate(-69%, -74%) rotate(10deg);
  opacity: 1;
}
.main-section .second-section .books-container .cont-book .book .details:hover {
  color: var(--s--color);
  background-color: var(--white--color);
  border-color: var(--s--color);
}

/* End Second Section  */

.main-section .third-section {
}
.main-section .third-section .title-third-section {
  width: 20%;
}
.main-section .third-section .container-donate {
  width: 80%;
  padding-right: 30px;
}
.main-section .third-section .container-donate .h3 {
  font-size: 1.4rem;
  color: var(--s--color);
  margin-bottom: 20px;
}
.main-section .third-section .container-donate .description {
  font-size: 1.2rem;
  color: var(--p--color);
  text-align: justify;
}
.main-section .third-section .container-donate .cont-btn-img {
}
.main-section .third-section .container-donate .cont-btn-img .cont-btn-donate,
.main-section .third-section .container-donate .cont-btn-img .img-donate {
  width: 50%;
}
.main-section
  .third-section
  .container-donate
  .cont-btn-img
  .cont-btn-donate
  .btn-donate {
  border: none;
  background-color: transparent;
  display: block;
  width: 220px;
  margin: 100px auto;
}
.main-section
  .third-section
  .container-donate
  .cont-btn-img
  .cont-btn-donate
  .btn-donate
  a {
  display: block;
  font-family: "Cairo", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--s--color);
  border: 1px solid var(--s--color);
  border-radius: 30px;
  text-align: center;
  padding: 10px 0px;
  transition: all 0.3s ease;
}
.main-section
  .third-section
  .container-donate
  .cont-btn-img
  .cont-btn-donate
  .btn-donate
  a:hover {
  color: var(--white--color);
  background-color: var(--s--color);
}
.main-section .third-section .container-donate .cont-btn-img .img-donate {
  overflow: hidden;
}

.main-section .third-section .container-donate .cont-btn-img .img-donate .img {
  position: relative;
  top: -60px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.main-section
  .third-section
  .container-donate
  .cont-btn-img
  .img-donate:hover
  .img {
  transform: translateY(-40px) scale(1.2) rotate(4deg);
}

/* End Main */
