* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root {
  --p--color: #333333;
  --s--color: #ffd93d;
  --th--color: #cccccc;
  --white--color: #ffffff;
}

body {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
/* Start Global Settings */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.clear {
  clear: both;
}
/* End Global Settings */

/* Start Header Section */
.header {
  padding-top: 50px;
  padding-bottom: 50px;
}
.header .logo {
  display: inline-block;
  width: 100px;
  height: 100px;
}
.header .logo .img {
  width: 100%;
  height: 100%;
}
.header .navbar {
  display: inline-block;
  margin-right: 200px;
}
.header .navbar .list-elements {
  display: inline-block;
  border: 1px solid var(--th--color);
  border-radius: 35px;
}
.header .navbar .list-elements .element {
  float: right;
  margin-left: 40px;
  padding: 10px 30px 10px 10px;
}
.header .navbar .list-elements .element a {
  font-size: 1.1rem;
  color: var(--p--color);
  transition: color 0.2s ease;
}
.header .navbar .list-elements .search-cont {
  border: 2px solid var(--s--color);
  border-radius: 50%;
  padding: 3px 12px;
  padding-top: 5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.header .navbar .list-elements .search-cont:hover {
  background-color: var(--s--color);
}
.header .navbar .list-elements .element .my-icon {
  font-size: 1.5rem;
  color: var(--s--color);
  transition: all 0.4s ease;
  cursor: pointer;
  line-height: calc(1.5rem + 16px);
}
.header .navbar .list-elements .element .my-icon:hover {
  color: var(--white--color);
}
.header .navbar .list-elements .element a:hover {
  color: var(--s--color);
}

.header .navbar .btn-donation {
  display: inline-block;
}
.header .navbar .btn-donation a {
}
.header .navbar .btn-donation a span {
}
.header .navbar .btn-donation a i {
}

/* End Header Section */
