* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root {
  --p--color: #333333;
  --s--color: #002eac;
  --th--color: #cccccc;
  --white--color: #ffffff;
  --fourth--color: #fafafa;
}
body {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
/* Start Global Settings */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.display-block {
  display: block;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.clear {
  clear: both;
}
.position-relative {
  position: relative;
}
.title-style {
  font-size: 1.3rem;
  color: var(--p--color);
}

/* Start Line Style  */
.bullet {
  position: absolute;
  right: 226px;
  background-color: var(--white--color);
  border: 5px solid var(--s--color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  z-index: 10;
}
.line {
  position: absolute;
  top: -70px;
  right: 235px;
  background-color: var(--th--color);
  width: 2px;
}
.bullet.p1 {
  top: 14px;
}
.line.p1 {
  height: 190px;
}
.bullet.p2 {
  top: 12px;
}
.line.p2 {
  height: 1400px;
}
.bullet.p3 {
  top: 12px;
}
.line.p3 {
  height: 700px;
}
.bullet.p4 {
  top: 12px;
}
.line.p4 {
  height: 915px;
}
/* End Line Style  */

/* End Global Settings */

/* Start Header Section */
.header {
  height: 220px;
  box-shadow: 0px 5px 10px 2px var(--th--color);
}
.header .logo {
  width: 100px;
  height: 100px;
  line-height: 290px;
}
.header .logo .img {
  width: 100%;
  height: 100%;
}
.header .navbar {
  margin-right: 200px;
  margin-top: -24px;
}
.header .navbar .list-elements {
  border: 1px solid var(--th--color);
  border-radius: 35px;
  height: 64px;
}
.header .navbar .list-elements .element {
  float: right;
  padding-top: 5px;
  line-height: 48px;
  margin-left: 7px;
  margin-right: 40px;
}
.header .navbar .list-elements .element a {
  font-size: 1.1rem;
  color: var(--p--color);
  transition: color 0.2s ease;
}
.header .navbar .list-elements .element a.active {
  color: var(--s--color);
}
.header .navbar .list-elements .element .my-icon {
  font-size: 1.5rem;
  border: 1px solid var(--s--color);
  border-radius: 50%;
  color: var(--s--color);
  transition: all 0.4s ease;
  line-height: 50px;
  padding-left: 16px;
  padding-right: 12px;
  cursor: pointer;
}
.header .navbar .list-elements .element .my-icon:hover {
  color: var(--white--color);
  background-color: var(--s--color);
}
.header .navbar .list-elements .element a:hover {
  color: var(--s--color);
}
.header .navbar .btn-donation {
  margin-right: 20px;
}
.header .navbar .btn-donation a {
  color: var(--p--color);
  border: 1px solid var(--th--color);
  height: 64px;
  line-height: 64px;
  font-size: 1.1rem;
  padding: 0px 50px;
  border-radius: 35px;
  transition: all 0.4s ease;
}
.header .navbar .btn-donation a:hover {
  border-color: var(--s--color);
  color: var(--s--color);
}
.header .navbar .btn-donation a i {
  color: var(--s--color);
  font-size: 1.3rem;
  padding-left: 10px;
}
/* End Header Section */

/* Start Main */
/* Start First Section  */
.main-section .first-section {
  padding-top: 70px;
  padding-bottom: 70px;
}
.main-section .first-section .intro-p {
  margin-right: 100px;
  padding-right: 20px;
  font-size: 18px;
  margin-top: 7px;
  color: var(--p--color);
}
/* End First Section  */

/* Start Second Section  */
.main-section .second-section {
  padding-bottom: 30px;
}
.main-section .second-section .title-section {
  width: 20%;
}
.main-section .second-section .books-container {
  width: 80%;
}
.main-section .second-section .books-container .cont-book {
  background-color: #333333;
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% / 3) - 30px);
  overflow: hidden;
}
.main-section .second-section .books-container .cont-book .book {
  display: block;
  border: 1px solid var(--th--color);
  position: relative;
  transition: all 0.6s ease;
}
.main-section .second-section .books-container .cont-book .book:hover {
  transform: scale(1.5) rotate(-10deg);
}
.main-section .second-section .books-container .cont-book .book .img {
  display: block;
  width: 100%;
  height: 100%;
}
.main-section .second-section .books-container .cont-book .book .details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: var(--s--color);
  color: var(--white--color);
  border: 2px solid transparent;
  padding: 10px;
  width: 50%;
  text-align: center;
  border-radius: 30px;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
.main-section .second-section .books-container .cont-book .book:hover .details {
  transform: scale(0.7) translate(-69%, -74%) rotate(10deg);
  opacity: 1;
}
.main-section .second-section .books-container .cont-book .book .details:hover {
  color: var(--s--color);
  background-color: var(--white--color);
  border-color: var(--s--color);
}
/* End Second Section  */

/* Start Third Section */
.main-section .third-section .title-third-section {
  width: 20%;
}
.main-section .third-section .container-donate {
  width: 80%;
  padding-right: 30px;
}
.main-section .third-section .container-donate .h3 {
  font-size: 1.4rem;
  color: var(--s--color);
  margin-bottom: 20px;
}
.main-section .third-section .container-donate .description {
  font-size: 1.2rem;
  color: var(--p--color);
  text-align: justify;
}
.main-section .third-section .container-donate .cont-btn-img .cont-btn-donate,
.main-section .third-section .container-donate .cont-btn-img .img-donate {
  width: 50%;
}
.main-section
  .third-section
  .container-donate
  .cont-btn-img
  .cont-btn-donate
  .btn-donate {
  border: none;
  background-color: transparent;
  width: 220px;
  margin: 100px auto;
}
.main-section
  .third-section
  .container-donate
  .cont-btn-img
  .cont-btn-donate
  .btn-donate
  a {
  font-family: "Cairo", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--s--color);
  border: 1px solid var(--s--color);
  border-radius: 30px;
  text-align: center;
  padding: 10px 0px;
  transition: all 0.3s ease;
}
.main-section
  .third-section
  .container-donate
  .cont-btn-img
  .cont-btn-donate
  .btn-donate
  a:hover {
  color: var(--white--color);
  background-color: var(--s--color);
}
.main-section .third-section .container-donate .cont-btn-img .img-donate {
  overflow: hidden;
  height: 258px;
}

.main-section .third-section .container-donate .cont-btn-img .img-donate .img {
  position: relative;
  top: -41px;
  left: 0px;
  width: 100%;
  height: 300px;
  transition: all 0.5s ease;
}
.main-section
  .third-section
  .container-donate
  .cont-btn-img
  .img-donate:hover
  .img {
  transform: translateY(-40px) scale(1.2) rotate(4deg);
}
/* End Third Section */

/* Start Fourth Section */
.main-section .fourth-section {
  background-color: var(--fourth--color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.main-section .fourth-section .right-part {
  width: 20%;
}
.main-section .fourth-section .right-part .title-fourth-section {
  width: 90%;
  line-height: 2;
}
.main-section .fourth-section .container-apps {
  width: 80%;
  padding-right: 30px;
}
.main-section .fourth-section .container-apps .section-app:first-of-type {
  margin-bottom: 60px;
}
.main-section .fourth-section .container-apps .section-app .part-left {
  width: 20%;
  margin-right: 30px;
}
.main-section .fourth-section .container-apps .section-app .part-left .img {
  width: 180px;
}
.main-section .fourth-section .container-apps .section-app .part-right {
  width: calc(80% - 30px);
}
.main-section .fourth-section .container-apps .section-app .part-right .title {
  font-size: 1.3rem;
  color: var(--p--color);
  margin-bottom: 20px;
}
.main-section
  .fourth-section
  .container-apps
  .section-app
  .part-right
  .paraghraph {
  font-size: 1.1rem;
  color: var(--p--color);
  text-align: justify;
}
.main-section .fourth-section .part-right .cont-btns {
  margin-top: 20px;
}
.main-section .fourth-section .part-right .cont-btns .google-play {
  margin-right: 50%;
  width: 180px;
}
.main-section .fourth-section .part-right .cont-btns .google-play .img {
  width: 100%;
}
.main-section .fourth-section .part-right .cont-btns .app-store {
  width: 180px;
}
.main-section .fourth-section .part-right .cont-btns .app-store .img {
  width: 100%;
}
/* End Fourth Section */

/* Start Footer */
.footer {
  box-shadow: 0px -6px 10px 2px var(--th--color);
}
.footer .cont-footer {
  padding-top: 70px;
  padding-bottom: 70px;
}
.footer .cont-footer .logo {
  width: 20%;
}
.footer .cont-footer .logo .img {
  width: 100px;
  height: 100px;
}
.footer .cont-footer .cont-part-left {
  width: 80%;
  color: var(--p--color);
}
.footer .cont-footer .cont-part-left .first-list {
  width: 20%;
}
.footer .cont-footer .cont-part-left .first-list li:not(:last-of-type) {
  margin-bottom: 5px;
}
.footer .cont-footer .cont-part-left .first-list li .link {
  color: inherit;
  transition: all 0.3s ease;
}
.footer .cont-footer .cont-part-left .first-list li .link:hover {
  color: var(--s--color);
  padding-right: 6px;
}
.footer .cont-footer .cont-part-left .second-list {
  width: 20%;
}
.footer .cont-footer .cont-part-left .second-list li:not(:last-of-type) {
  margin-bottom: 5px;
}
.footer .cont-footer .cont-part-left .second-list li .link {
  color: inherit;
  transition: all 0.3s ease;
}
.footer .cont-footer .cont-part-left .second-list li .link:hover {
  color: var(--s--color);
  padding-right: 6px;
}
.footer .cont-footer .cont-part-left .third-part {
  width: 60%;
}
.footer .cont-footer .cont-part-left .third-part .title {
  font-size: 1.1rem;
  margin-bottom: 12px;
}
.footer .cont-footer .cont-part-left .third-part .descr {
  text-align: justify;
}
.footer .last-footer {
  background-color: var(--p--color);
  padding: 20px 0px;
}
.footer .last-footer .copy-right {
  color: var(--white--color);
  text-align: center;
}
/* End Footer */

/* End Main */

/* Start Up Button */
.up-btn {
  position: fixed;
  bottom: 20px;
  left: 15px;
}
.up-btn .my-icon {
  color: var(--s--color);
  border: 1px solid var(--s--color);
  font-size: 1.6rem;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}
.up-btn .my-icon:hover {
  color: var(--white--color);
  background-color: var(--s--color);
}
/* End Up Button */
